{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Remise</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.Name }}</td>
                <td>{{ article.image }}</td>
                <td>{{ article.remise }}</td>
                <td>{{ article.quantity }}</td>
                <td>
                    <a href="{{ path('app_article_controller1_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_controller1_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_controller1_new') }}">Create new</a>
{% endblock %}
